QLabel {
    color: #bfbfbf;
    font-size:  14pt;
    text-align: right;
}

QLabel#clockLabel {
    font-size: 48pt;
}

QLabel#one {
    text-align: right;
}

QLabel[selected=true] {
    color: #1b1b1b;
}

